/* Version 0.0.0 */
/* Author: Quartyn */
/* Theme: Google Consent */
::-webkit-scrollbar {
    background: #131313 !important;
}
::-webkit-scrollbar-thumb {
    background: #303030 !important;
    border: 5px solid #131313 !important;
}
c-wiz.SSPGKf {
    background: #131313 !important;
}

@media not screen and (max-width: 480px){
    .G4njw {
        border: 1px solid #303030 !important;
    }
}
.T7RIae {
    color: white !important;
}
.Qhg5gf, .cb7kab>ul {
    color: grey !important;
}
.cb7kab {
    color: white !important;
}