body {
    background: #151515;
    color: white;
}
::-webkit-scrollbar {
    background: #151515;
}
::-webkit-scrollbar-thumb {
    background: #353535;
    border: 5px solid #151515;
    border-radius: 20px;
}