/* Everything looks good. Enjoy:D */
.q-overlay::before {
    content: 'New Update is coming. Registration in this version is blocked. Please wait few days and register later :D';
    z-index: 5;
    position: absolute;
    left: 20px;
    box-shadow: 0 0 6px #4f4fff;
    top: 10px;
    font-size: 20px;
    padding: 5px 15px;
    background: #18103c;
    border-radius: 8px;
}
